@import url("//fonts.googleapis.com/css2?family=Dosis&family=Titillium+Web:wght@200;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  font-family: "Titillium web", sans-serif;
}

.bg-orange {
  background-color: #ff9d5c;
}

.text-orange {
  color: #ff9d5c;
}

.bg-teal {
  background-color: #0b9995;
}

.text-teal {
  color: #0b9995;
}

.footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
}

.mobileHeaderImage {
  height: 45vh;
}

.tabletHeaderImage {
  height: 55vh;
}

.footer li {
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
  display: inline-block;
}
.footer li span {
  opacity: 0;
  max-width: 0;
  display: inline-block;
  text-decoration: none;
  transition: max-width 0.1s ease-out, opacity 0.1s ease-out;
}
.footer ul:hover span {
  opacity: 1;
  max-width: 250px;
  transition: max-width 0.5s ease-out, opacity 1s ease-out;
}
.footer li:hover + .icon {
  transform: scale(1.2);
  transition: 0.5s ease-out;
}
li {
  list-style-type: disc;
  line-height: 12px;
}
li.slide {
  list-style-type: none;
}
ul.multiline li {
  line-height: 24px;
}
.carousel .slider {
  width: 80vw !important;
}
