@import url("//fonts.googleapis.com/css2?family=Dosis&family=Titillium+Web:wght@200;400&display=swap");
@import url("//fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Titillium web", sans-serif !important;
}

section a {
  text-decoration: none;
  color: #ff9d5c;
}

section a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 27px;
  font-weight: 600;
  color: #0b9995;
  margin-top: 36px;
  margin-bottom: 24px;
}

h2 {
  font-size: 22.5px;
  font-weight: 600;
  color: #0b9995;
  margin-bottom: 7px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ff9d5c;
  margin-bottom: 7px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 7px;
}

.handwriting {
  font-family: Caveat, sans-serif !important;
}

.services h1 {
  font-size: 22.5px;
  font-weight: 600;
  color: #0b9995;
  margin-bottom: 30px;
}

.services h2,
.about-me h2,
.about-responsibility h2 {
  font-size: 22.5px;
  font-weight: 600;
  color: #0b9995;
  margin-bottom: 30px;
}

.service-block h2 {
  color: white;
}

.services h3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}

.services h4 {
  font-weight: 600;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-responsibility li {
  margin-left: 10px;
  list-style-type: none;
}

.bg-error {
  background-color: #9a0000;
}

.bg-orange {
  background-color: #ff9d5c;
}

.text-orange {
  color: #ff9d5c;
}

.bg-teal {
  background-color: #0b9995;
}

.text-teal {
  color: #0b9995;
}

.footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
}

.mobileHeaderImage {
  height: 45vh;
}

.tabletHeaderImage {
  height: 55vh;
}

.footer li {
  overflow: hidden;
  list-style: none;
  white-space: nowrap;
  display: inline-block;
}
.footer li span {
  opacity: 0;
  max-width: 0;
  display: inline-block;
  text-decoration: none;
  transition: max-width 0.1s ease-out, opacity 0.1s ease-out;
}
.footer ul:hover span {
  opacity: 1;
  max-width: 250px;
  transition: max-width 0.5s ease-out, opacity 1s ease-out;
}
.footer li:hover + .icon {
  transform: scale(1.2);
  transition: 0.5s ease-out;
}
li {
  list-style-type: disc;
  line-height: 24px;
}
li.slide {
  list-style-type: none;
}
ul.multiline li {
  line-height: 24px;
}
.carousel .slider {
  width: 80vw !important;
}
i.quotation p {
  margin-bottom: 0;
}

.select-menu {
  max-width: 330px;
}
.select-menu .select-btn {
  background: #fff;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-menu .options {
  position: absolute;
  width: 330px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.15s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #ff9d5c;
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(20px, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(10px, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}

.mainMenu {
  background-color: #ff9d5c;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: block;
}

.mainMenu ul {
  display: table-cell;
  vertical-align: middle;
}
.mainMenu li {
  padding: 2px 0;
  list-style-type: none !important;
  transition: all 400ms 510ms;
}
.mainMenu a {
  color: white;
  display: inline-block;
}

header .menu {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: #ff9d5c;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #ff9d5c, 0 0 0 0 #ff9d5c;
  cursor: pointer;
}
